section#editor
  .row
    #drawing.col-md-9
      .viewport(alcahest-pan-zoom-viewport)
        .overlay(alcahest-error-annotable)
          img.background(src="assets/attached_files/Deliverable/file/000001.jpg")
    .toolbar.col-md-3
      .row
        .control-pad.col-md-12
          img.button.left(src="assets/images/arrow-left.png" ng-click="pan_left()")
          img.button.up(src="assets/images/arrow-up.png" ng-click="pan_up()")
          img.button.right(src="assets/images/arrow-right.png" ng-click="pan_right()")
          img.button.down(src="assets/images/arrow-down.png" ng-click="pan_down()")
          img.button.zoom-minus(src="assets/images/zoom-minus.png" ng-click="zoom_minus()")
          img.button.zoom-plus(src="assets/images/zoom-plus.png" ng-click="zoom_plus()")
          .edit.button(ng-click="activate_error_editor()") EDIT
      .row
        .drawing-data.col-md-12
          p 
            span.label Lámina 
            | #242324 
          p 
            span.label Autor:
            | Luis Perez
          p
            span.label Ronda:
            | 2015#9
          p
            span.label Fecha Límite:
            | 24/06/2015
          p
            span.label Fecha Entregada:
            | 10/06/2015
      .row
        .errors.col-md-21
          




