section#editor
  .row
    .drawing.col-md-9
      img(src="")
    .toolbar.col-md-3
      .row
        .control-pad.col-md-12
          img(src="")
        .drawing-data.col-md-12
          p 
            span.label Lámina 
            | #242324 
          p 
            span.label Autor:
            | Luis Perez
          p
            span.label Ronda:
            | 2015#9
          p
            span.label Fecha Límite:
            | 24/06/2015
          p
            span.label Fecha Entregada:
            | 10/06/2015
        .errors.col-md-21




