header#banner.hero-unit
  .container
    h1(translate="HEADER")
.container
  .row
    .col-lg-12
      alert(ng-repeat="alert in notif.pending()" type="{{alert.type}}" close="notif.closeNotification($index)") {{alert.msg}}
  .row
    .col-lg-12
      h1.page-header(translate="ALL_TRANSLATIONS")
  .row
    .col-lg-12
      form.form-inline
        div.form-group
          label(for="filter" translate="FILTER")
          input(ng-model="filter")
  .row
    .col-lg-12
      div.gridStyle(ui-grid="gridOptions")
  .row
    .col-lg-12
      button.btn.btn-success(ng-click="addNew()" translate="NEW_TRANSLATION")