section#dash-calendar
  .calendar-bg.col-md-12
    .days-bg.col-md-12
      .row
        .header
          h3(translate="{{current_month_name}}")
      .row
        .days.col-md-12
          ul.daynames
            li(ng-repeat="dayname in daynames track by $index")
              p.dayname {{dayname}}
          ul.days
            li(ng-repeat="day in calendar.prev_days track by $index")
              p.prev {{day}}
            li(ng-repeat="day in calendar.current_days track by $index")
              p.current {{day}}
            li(ng-repeat="day in calendar.next_days track by $index")
              p.next {{day}}

