/** Color palette **/

@menu-black: #000000;
@background-grey: #95a5a6;
@background-white: #ffffff;
@background-black: #000000;
@background-deliverables: #2e8ece;
@background-tasks: #7f8c8d;
@menu-text-white: #ffffff;
@main-text-white: #ffffff;
@main-block-white-bg: #ffffff;
@main-border-white: #ffffff;
@corporative-dark-blue: #00487f;
@white-body-fonts: #ffffff;
@shadow-color: #333333;
@player-data-dash-back: #34495e;
@life-points-color: #00ff12;
@exp-points-color: #ffabab;
@lightyellow: #fcff9c;
@darkblue: #34495e;
@darkred: #c0392b;