section#dashboard{
  padding-top: 5px;
  background-color: @background-grey;

  .dash-header{
    .standard-shadow;
    background-color: @player-data-dash-back;
    z-index: 5;
  }
  .dash-center{
    .standard-shadow;
    background-color: @background-deliverables;
    z-index: 4;
  }
}