section#dashboard
  .container
    .row
      .dash-header.col-md-12
        .row 
          .col-md-7
            ng-include(src="'components/player_data/player_data.html'")
          #dash-calendar.col-md-5
            ng-include(src="'components/dash_calendar/dash_calendar.html'")
    .row
      .dash-center.col-md-12
        .row
          #deliverables-log.col-md-6
            ng-include(src="'components/deliverables_log/deliverables_log.html'")
          #tasks-log.col-md-6


