div#new-translation
  .container
    .row
      .col-lg-12
        h1(translate="NEW_TRANSLATION")
    .row
      .col-lg-12
        alert(ng-repeat="alert in notif.pending()" type="{{alert.type}}" close="notif.closeNotification($index)") {{alert.msg}}
    form(ng-submit="submit()")
      .row
        .col-lg-12
          div.form-group
            label(for="language" translate="USING_LANGUAGE" translate-values="{language: '{{currentLanguage}}'}")
            input(type="hidden" value="{{currentLanguage}}")
          div.form-group
            label(for="key" translate="FIELD.KEY") 
            input.form-control(ng-model="translation.key")
          div.form-group
            label(for="value" translate="FIELD.VALUE")
            input.form-control(ng-model="translation.value")
      .row
        .col-lg-12
          button.btn.btn-default(type="submit" translate="SUBMIT")