section#deliverables{

  .deliverables-bg{
    .standard-padding;
  }

  header {
    width: 100%;
    background-color: @background-black;
    padding: 0.5em 1em;
    h2 {
      margin: 0;
      padding: 0;
      font-size: 12px;
      color: @main-text-white;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }

  .deliverable-group {
    .standard-shadow;
    width: 100%;
    background-color: #ffffff;
  }

  .deliverable-item {
    margin-bottom: 0.5em;

    .icon-img {
      img {
        width: 25px;
        height: 25px;
      }
    }
    .content {
      h5 {
        margin:0;
        padding:0;
      }
      a {
        .standard-text-shadow;
        line-height: 25px;
        color: @main-text-white;
        text-decoration: none;
      }
    }
  }



}