.deliverable-item.col-md-12
  .row
    .icon-img.col-md-1
      img(src="assets/images/attached_files/Achievement/image/001.png")
    .content.col-md-10
      h5.deliverable-title 
        a(href="{{deliverable.url}}") {{deliverable.title}}
    .go.col-md-1
      a(href="{{deliverable.url}}")
        img(src="assets/images/go.png")