header#banner.hero-unit
  .container
    h1(translate="HEADER")
.container
  .row
    .col-lg-12
      h2(translate="Usuarios")
      div.gridStyle(ui-grid="usersGridOptions")
  .row
    .col-lg-12
      h2(translate="Roles")
      div.gridStyle(ui-grid="rolesGridOptions")

