backports.ssl-match-hostname==3.4.0.2
certifi==14.5.14
ipython==2.3.1
Jinja2==2.7.3
Markups==0.6.0
MarkupSafe==0.23
matplotlib==1.4.3
numpy==1.9.2
pbr==1.2.0
pyparsing==2.0.3
pyreadline==2.0
PySide==1.2.2
python-dateutil==2.4.2
pytz==2015.4
pyzmq==14.3.1
six==1.9.0
stevedore==1.5.0
tornado==4.0.2
virtualenv==12.0.7
virtualenv-clone==0.2.5
virtualenvwrapper==4.6.0
